<ion-header>
  <ion-toolbar>
    <ion-title>Question 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label> Which planet in the solar system is known as the “Red Planet”?</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Mars</ion-label>
            <ion-radio slot="start" value="option1"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Venus</ion-label>
            <ion-radio slot="start" value="option2"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-button  (click)="controlBtn('prev')">Back</ion-button>
      <ion-button  (click)="controlBtn('next')">Next</ion-button>    </ion-card-content>
  </ion-card>
</ion-content>

